doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title When virtualenv is not enough

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section.title
        h1 When <code>virtualenv</code><br>is not enough

      section
        h2 Hi, I'm Steve
        ul
          li
            | Web Engineer @&nbsp;
            a(href='https://www.insynchq.com') Insync
          li Pythonista since 2010
          li: a(href='https://twitter.com/themarksteve') twitter.com/themarksteve
          li: a(href='https://github.com/marksteve') github.com/marksteve

      section
        p
          img(src='images/docker.png', width=480)

      section
        p
          img(src='images/docker.png', width=120)
        blockquote.
          Docker is an open-source engine that automates the deployment of any
          application as a lightweight, portable, self-sufficient container that
          will run virtually anywhere.
        p
          | &mdash;&nbsp;
          a(href='https://www.docker.io') docker.io

      section.versus
        .title.three.cols.bullet
          .col
            h2 System Virtual Machines
            ul
              li Emulates hardware and OS
              li Resource heavy
          .col
            img(src='images/versus.png', width=80)
          .col
            h2 Docker Containers
            ul
              li Isolates your app but shares the same resource and OS with the host
              li Lightweight
              li Portable

      section
        h2 Docker Components
        h3.bullet Daemon, Client and the Index
        h4.bullet Daemon (<code>docker -d</code>)
        p.bullet Receives and process commands<br>through sockets or a RESTful API
        h4.bullet Client (<code>docker &lt;command&gt;</code>)
        p.bullet Primary user interface to Docker
        h4.bullet Index (<code>http://index.docker.io/</code>)
        p.bullet Global archive and directory for<br>user supplied Docker images

      section
        h2 Docker Elements
        h3.bullet Containers, Images and the Dockerfile
        h4.bullet Containers (<code>docker ps</code>)
        p.bullet Isolated environments that runs your apps
        h4.bullet Images (<code>docker images</code>)
        p.bullet Templates containers are built from
        h4.bullet Dockerfile
        p.bullet Blueprint for building images

      section
        h2 Hello World
        pre
          code.language-bash.
            $ docker pull ubuntu
            $ docker run --rm ubuntu echo "Hello, world"
            Hello, world

      section
        h2 Hello World
        pre
          code.language-bash.
            $ docker ps -a
            CONTAINER ID  IMAGE         COMMAND            ...
            aa3264ba7371  ubuntu:12.04  echo Hello, world  ...

      section
        h2 Dockerfile
        pre
          code.language-bash.
            $ cat &gt;Dockerfile &lt;&lt;EOF
            FROM marksteve/python
            RUN pip install requests
            EOF
            $ docker build --rm -t python-requests .
            ...
            $ docker run --rm -t -i python-requests /bin/bash -il
            # Inside docker container
            $ python
            Python 2.7.6 (default, Mar 22 2014, 22:59:56)
            [GCC 4.8.2] on linux2
            Type "help", "copyright", "credits" or "license" for more
            information.
            &gt;&gt;&gt; import requests

      section
        h2 Exposing Ports
        pre
          code.language-python.
            # app.py

            from flask import Flask

            app = Flask(__name__)

            @app.route("/")
            def index():
              return "Hello, world"

            if __name__ == '__main__':
              app.run()

      section
        h2 Exposing Ports
        pre.bullet
          code.language-bash.
            $ cat &gt;Dockerfile &lt;&lt;EOF
            FROM marksteve/python
            RUN pip install Flask
            CMD python /src/app.py
            EOF
            $ docker build --rm -t flask-hello-world .
        pre.bullet
          code.language-bash.
            $ docker run --rm -p 5000:5000 flask-hello-world

      section
        h2 Volumes
        pre
          code.language-python.
            # update-settings.py

            import json
            import sys

            SETTINGS_FILE = "/var/app/settings.json"

            if __name__ == '__main__':
              try:
                with open(SETTINGS_FILE) as f:
                  settings = json.load(f)
              except:
                settings = dict()
              settings[sys.argv[1]] = sys.argv[2]
              with open(SETTINGS_FILE, "w") as f:
                f.write(json.dumps(settings))

      section
        h2 Volumes
        pre
          code.language-bash.
            $ docker run --rm -v /var/app --name app-settings \
            ubuntu true

            $ cat &gt;Dockerfile &lt;&lt;EOF
            FROM marksteve/python
            ADD update-settings.py /src/update-settings.py
            WORKDIR /src
            ENTRYPOINT ["python", "update-settings.py"]
            EOF

            $ docker build --rm -t update-settings .

      section
        h2 Volumes
        pre
          code.language-bash.
            $ docker run --rm --volumes-from app-settings \
            update-settings cheats on

            $ docker run --rm --volumes-from app-settings \
            update-settings gold 16000

            $ docker run --rm --volumes-from app-settings ubuntu \
            cat /var/app/settings.json

      section
        h2 Host Mounts
        pre
          code.language-bash.
            $ docker run --rm -v `pwd`:/host ubuntu ls /host

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/prism/components/prism-bash.js')
    script(src='bower_components/prism/components/prism-python.js')
    script(src='scripts/main.js')
    // endbuild
